<style>
    .main-container {
        width: 100%;
        border: 1px solid #ccc;
        margin-top: 25px;
        border-radius: 20px;
    }

    .post-image {
        height: 200px;
        width: 100%;
        object-fit: cover;
        align-self: center;
        border-radius: 10px;
    }

    .post-item {
        height: 100%;
        width: 100%;
        gap: 10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin: 0px;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
    }

    .post-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        display: block;
        float: right;
    }

    .post-item .post-info p {
        color: gray;
        font-weight: normal;
        font-size: medium;
    }

    .post-item p {
        font-weight: bold;
        font-size: x-large;
    }
</style>
<main class="main-container">
    <div class="post-item">
        <p>Title</p>
        <img class="post-image"
            src="https://fastly.picsum.photos/id/20/3670/2462.jpg?hmac=CmQ0ln-k5ZqkdtLvVO23LjVAEabZQx2wOaT4pyeG10I" />
        <div class="post-info">
            <p>Author name</p>
            <p>Date</p>
        </div>
    </div>
</main>