<main class="main">
  <div class="headline">
    {{ 'BLOG_NAME' | t }}
    <div class="links">
      <a routerLink="/" routerLinkActive="active">{{ 'HOME' | t }}</a>
      <a routerLink="/posts" routerLinkActive="active">{{ 'POSTS' | t }}</a>
      <a routerLink="/settings" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        {{ 'SETTINGS' | t }}
      </a>
      <a routerLink="/settings/profile">{{ "PROFILE" | t }}</a>
      <a routerLink="/posts/100" routerLinkActive="active">Posts/100</a>
      <button (click)="changeLang()">{{ "CHANGE_LANGUAGE" | t }}</button>
      <div *ngIf="authService.currentUserSignal() === null">
        <a routerLink="/login" routerLinkActive="active">{{ 'LOGIN' | t }}</a>
        <a routerLink="/register" routerLinkActive="active">{{ 'REGISTER' | t }}</a>
      </div>
      <div *ngIf="authService.currentUserSignal()">
        {{ authService.currentUserSignal()?.username }}
        <a routerLinkActive="active">{{ 'LOGOUT' | t }}</a>
      </div>
    </div>
  </div>
  <!-- {{ title() }} -->
  <div class="content">
    <router-outlet />
  </div>
</main>