.panel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
}

.panel {
    height: 150px;
    width: 200px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.not-found h1 {
  margin: 0;
}

.not-found p {
  margin: 20px 0;
  font-style: italic;
  color: #555;
}

.not-found a {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}