<main class="main">
    <!-- {{ title() }} -->
    <ul>
        <li> <post-item /> </li>
        <li> <post-item /> </li>
        <li> <post-item /> </li>
        <li> <post-item /> </li>
        <li> <post-item /> </li>
        <li> <post-item /> </li>
        <li> <post-item /> </li>
        <li> <post-item /> </li>
        <li> <post-item /> </li>
        <li> <post-item /> </li>
        <li> <post-item /> </li>
        <li> <post-item /> </li>
        <li> <post-item /> </li>
        <li> <post-item /> </li>
        <li> <post-item /> </li>
    </ul>
</main>